* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #eaeaea;
  font-family: "Courier New", monospace;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ENTRY */
#entry {
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0.85;
}

/* PAYLOAD */
#payload {
  text-align: center;
  white-space: pre;
  font-size: 13px;
  line-height: 1.6;
}

.hidden {
  display: none;
}

/* FLAG SMALLER */
#info img {
  width: 18px;
  height: auto;
  vertical-align: middle;
  margin-left: 6px;
}

/* FOOTER LOCKED BOTTOM CENTER */
#footer {
  position: fixed;
  bottom: 20px;
  text-align: center;
  font-size: 11px;
  opacity: 0.7;
}

#fog {
  cursor: pointer;
  text-decoration: underline;
}
